* {
  font-family: "IBM Plex Sans KR", "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: linear-gradient(180deg, #e9f1f6 0%, #f8f9fa 60%); */
  /* background: linear-gradient(180deg, #eef3f7 0%, #f6f9fb 100%); */
  background: linear-gradient(180deg, #e9f1f6 0%, #f5f2ed 100%);
}
